---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

ModuleNotFoundError: No module named 'scipy'

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [5]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [13]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    data = df = pd.read_fwf('university_towns.txt')
    return data
get_list_of_university_towns()

                                         Alabama[edit]
0                        Auburn (Auburn University)[1]
1               Florence (University of North Alabama)
2      Jacksonville (Jacksonville State University)[2]
3           Livingston (University of West Alabama)[2]
4             Montevallo (University of Montevallo)[2]
5                            Troy (Troy University)[2]
6    Tuscaloosa (University of Alabama, Stillman Co...
7                    Tuskegee (Tuskegee University)[5]
8                                         Alaska[edit]
9        Fairbanks (University of Alaska Fairbanks)[2]
10                                       Arizona[edit]
11          Flagstaff (Northern Arizona University)[6]
12                    Tempe (Arizona State University)
13                      Tucson (University of Arizona)
14                                      Arkansas[edit]
15   Arkadelphia (Henderson State University, Ouach...
16   Conway (Central Baptist College, Hendrix Colle...
17            Fayetteville (University of Arkansas)[7]
18            Jonesboro (Arkansas State University)[8]
19          Magnolia (Southern Arkansas University)[2]
20   Monticello (University of Arkansas at Monticel...
21          Russellville (Arkansas Tech University)[2]
22                      Searcy (Harding University)[5]
23                                    California[edit]
24                   Angwin (Pacific Union College)[2]
25               Arcata (Humboldt State University)[5]
26    Berkeley (University of California, Berkeley)[5]
27       Chico (California State University, Chico)[2]
28   Claremont (Claremont McKenna College, Pomona C...
29     Cotati (California State University, Sonoma)[2]
..                                                 ...
536          Cheney (Eastern Washington University)[2]
537      Ellensburg (Central Washington University)[5]
538           Pullman (Washington State University)[5]
539  University District, Seattle (University of Wa...
540                                West Virginia[edit]
541                     Athens (Concord University)[2]
542     Buckhannon (West Virginia Wesleyan College)[2]
543            Fairmont (Fairmont State University)[2]
544             Glenville (Glenville State College)[2]
545                Huntington (Marshall University)[2]
546  Montgomery (West Virginia University Institute...
547           Morgantown (West Virginia University)[2]
548             Shepherdstown (Shepherd University)[2]
549          West Liberty (West Liberty University)[2]
550                                    Wisconsin[edit]
551                     Appleton (Lawrence University)
552  Eau Claire (University of Wisconsinâ€“Eau Claire)
553      Green Bay (University of Wisconsin-Green Bay)
554  La Crosse (University of Wisconsinâ€“La Crosse...
555     Madison (University of Wisconsinâ€“Madison)[2]
556     Menomonie (University of Wisconsinâ€“Stout)[2]
557  Milwaukee (Marquette University, University of...
558        Oshkosh (University of Wisconsinâ€“Oshkosh)
559  Platteville (University of Wisconsinâ€“Plattev...
560  River Falls (University of Wisconsinâ€“River F...
561  Stevens Point (University of Wisconsinâ€“Steve...
562                      Waukesha (Carroll University)
563  Whitewater (University of Wisconsinâ€“Whitewat...
564                                      Wyoming[edit]
565                 Laramie (University of Wyoming)[5]

[566 rows x 1 columns]

In [ ]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

In [ ]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    return "ANSWER"

In [ ]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

In [ ]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    return "ANSWER"

In [ ]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"